variables:
  FLUTTER_VERSION: 3.7.12
  INTEGRATION_USER1: $INTEGRATION_USER1
  INTEGRATION_PASSWORD1: $INTEGRATION_PASSWORD1
  INTEGRATION_USER2: $INTEGRATION_USER2
  INTEGRATION_PASSWORD2: $INTEGRATION_PASSWORD2
  HOMESERVER: synapse

stages:
  - analyze
  - build
  - build_docker
  - test
#  - upload #FIXME upload webbuild and android package


# fetch and extract flutter
.prepare_flutter:
  before_script:
    - rm -rf /tmp/flutter || true
    - curl -s https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_${FLUTTER_VERSION}-stable.tar.xz | tar xfJ - -C /tmp
    - export PATH="$PATH:/tmp/flutter/bin"

# update deps and format files
.flutter_deps_and_format:
  before_script:
    - rm -rf /tmp/flutter || true
    - curl -s https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_${FLUTTER_VERSION}-stable.tar.xz | tar xfJ - -C /tmp
    - export PATH="$PATH:/tmp/flutter/bin"
    - sed -i "s#git@git.fairkom.net:#https://gitlab-ci-token:$CITOKEN@git.fairkom.net/#g" pubspec.yaml
    - flutter pub get
    - flutter pub run import_sorter:main --no-comments --exit-if-changed
    - flutter format lib/ test/ integration_test/ --set-exit-if-changed
    - mkdir -p assets/js/package

flutter_analyze:
  stage: analyze
  extends:
    - .flutter_deps_and_format
  script: [flutter analyze --no-fatal-infos]

dart_code_metrics_analyze:
  stage: analyze
  extends:
    - .flutter_deps_and_format
  script: ['dart run dart_code_metrics:metrics lib --no-fatal-warnings -r gitlab > code-quality-report.json']
  artifacts:
    paths:
      - untranslated-strings.txt
    reports:
      codequality: code-quality-report.json

widget_test:
  stage: test
  tags: [docker, rlp]
  allow_failure: true
  script: |
    docker stop widgettest || true
    docker container rm widgettest || true
    docker image rm widget_test || true
    docker build -f docker/Dockerfile.widget-tests -t widget_test --build-arg CITOKEN=$CITOKEN --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA .
    docker run --name widgettest widget_test || true
    docker cp widgettest:/home/fluffy/fluffychat/coverage_widget .
    docker cp widgettest:/home/fluffy/fluffychat/coverage_widget.xml .
    docker cp widgettest:/home/fluffy/fluffychat/TEST-report.xml .
    docker cp widgettest:/home/fluffy/fluffychat/exit_code .
    sed 's/&#x1B;//g' -i TEST-report.xml
    docker stop widgettest || true 
    docker container rm widgettest || true
    docker image rm widget_test || true
    exit $(cat exit_code)
  artifacts:
    when: always
    paths:
      - coverage_widget/
      - coverage_widget.xml
      - TEST-report.xml
    reports:
      junit: TEST-report.xml

build_web:
  stage: build
  extends:
    - .prepare_flutter
  script: |
    sed -i "s#git@git.fairkom.net:#https://gitlab-ci-token:$CITOKEN@git.fairkom.net/#g" pubspec.yaml
    ./scripts/prepare-web.sh # FIXME
    flutter config --enable-web
    flutter clean
    flutter pub get
    flutter build web --release --verbose --source-maps
    cp config.sample.json build/web/config.json
  after_script:
    #until https://gitlab.com/gitlab-org/gitlab-runner/-/issues/1057 is implemented
    - apt download zip && dpkg -x zip_*.deb .
    - cd build/web && ../../usr/bin/zip -r webbuild.zip .
  artifacts:
    paths:
      - build/web/webbuild.zip

#build_web_profile:
#  stage: build
#  extends:
#    - .prepare_flutter
#  script: |
#    sed -i "s#git@git.fairkom.net:#https://gitlab-ci-token:$CITOKEN@git.fairkom.net/#g" pubspec.yaml
#    ./scripts/prepare-web.sh #FIXME
#    flutter config --enable-web
#    flutter clean
#    flutter pub get
#    flutter build web --verbose --source-maps --profile --dart-define=Dart2jsOptimization=O1 #as per https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/build_system/targets/web.dart is O0 possible? does it matter?
#    cp config.sample.json build/web/config.json
#  after_script:
#    #until https://gitlab.com/gitlab-org/gitlab-runner/-/issues/1057 is implemented
#    - apt download zip && dpkg -x zip_*.deb .
#    - cd build/web && ../../usr/bin/zip -r webbuild.zip .
#  artifacts:
#    paths:
#      - build/web/webbuild.zip

docker_image_web:
  # it is in a separate stage so it can access the artifacts from build_web
  # however even if build_web succeeds and the apk jobs fail, this stage wouldn't be triggered
  stage: build_docker
  tags: [docker, rlp]
  dependencies:
    - build_web
  variables:
    FF_NETWORK_PER_BUILD: "true"
  script: |
    cd build/web && unzip webbuild.zip
    rm webbuild.zip && cd ../..
    docker image rm docker_image_web || true
    docker build -f docker/Dockerfile.web -t docker_image_web .
    docker save docker_image_web:latest | gzip > docker_image_web.gz
  artifacts:
    when: always
    paths:
      - docker_image_web.gz

# TODO include config.sample.json?
build_android_apk:
  stage: build
  tags: [docker, rlp]
  script: |
    docker container rm androidimage || true
    docker image rm fluffy-android || true
    docker build -f docker/Dockerfile.android -t fluffy-android --build-arg CITOKEN=$CITOKEN --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA .
    docker create --name androidimage fluffy-android
    docker cp androidimage:/home/fluffy/fluffychat/build/app/outputs/flutter-apk/app-debug.apk .
    docker rm androidimage
  artifacts:
    when: on_success
    name: app-debug.apk
    paths:
      - app-debug.apk

build_android_apk_for_dev:
  stage: build
  tags: [docker, rlp]
  script: |
    docker container rm androidimage-dev || true
    docker image rm fluffy-android-dev || true
    sed -i "s#_defaultHomeserver = 'schulchat.rlp.de';#_defaultHomeserver = 'schulchat.dev.osalliance.com';#g" lib/config/app_config.dart
    sed -i 's#https://schulchat.rlp.de/_matrix/push/v1/notify#https://schulchat.dev.osalliance.com/_matrix/push/v1/notify#g' lib/config/app_config.dart
    sed -i 's#https://schulchat.rlp.de/web#https://schulchat.dev.osalliance.com/web#g' lib/config/app_config.dart
    sed -i 's#https://bildungsportal.rlp.de/oauth2/logout#https://dev.schulcampus-rlp.de/oauth2/logout#g' lib/config/app_config.dart
    sed -i 's#www.schulcampus-rlp.de#dev.schulcampus-rlp.de#g' lib/pages/login/login.dart
    sed -i 's#schulchat.rlp.de#schulchat.dev.osalliance.com#g' config.sample.json
    sed -i 's#bildungsportal.rlp.de#dev.schulcampus-rlp.de#g' config.sample.json
    docker build -f docker/Dockerfile.android-dev -t fluffy-android-dev --build-arg CITOKEN=$CITOKEN --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA .
    docker create --name androidimage-dev fluffy-android-dev
    docker cp androidimage-dev:/home/fluffy/fluffychat/build/app/outputs/flutter-apk/app-debug.apk .
    docker rm androidimage-dev
  artifacts:
    when: on_success
    name: app-debug.apk
    paths:
      - app-debug.apk

#build_apk_without_google:
#  stage: build
#  tags: [docker, rlp]
#  script: |
#    docker container rm androidimage-fdroid || true
#    docker build -f docker/Dockerfile.android-without-google -t fluffy-android-fdroid --build-arg CITOKEN=$CITOKEN --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA .
#    docker create --name androidimage-fdroid fluffy-android-fdroid
#    docker cp androidimage-fdroid:/home/fluffy/fluffychat/build/app/outputs/flutter-apk/app-debug.apk .
#    docker rm androidimage-fdroid
#  artifacts:
#    when: on_success
#    name: app-debug.apk
#    paths:
#      - app-debug.apk

integration_android:
  stage: test
  tags: [docker, rlp]
  variables:
    FF_NETWORK_PER_BUILD: "true"
  allow_failure: true
  parallel:
    matrix:
      - ANDROID_DEVICE:
          - nexus-5
            #          - nexus-10
            #          - pixel_5
          - 10.1in # WXGA (Tablet)
  script: |
    apk add curl jq
    docker image rm integration-$ANDROID_DEVICE || true
    docker container rm $ANDROID_DEVICE || true
    docker stop synapse || true
    docker stop $ANDROID_DEVICE || true
    docker container rm synapse || true
    rm -rf /builds/shared/fluffy || true
    mkdir -p /builds/shared/fluffy
    cp integration_test/synapse/data/* /builds/shared/fluffy
    chmod 0777 /builds/shared/fluffy
    #FIXME we need to use our synapse build instead!
    docker run -d --name synapse -h $HOMESERVER -v /builds/shared/fluffy:/data matrixdotorg/synapse:latest
    export SYNAPSE_IP=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' synapse)
    timeout 30s ./scripts/integration-prepare-homeserver.sh
    docker build -f docker/Dockerfile.integration-android -t integration-$ANDROID_DEVICE --build-arg CITOKEN=$CITOKEN --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA --build-arg INTEGRATION_USER1=$INTEGRATION_USER1 --build-arg INTEGRATION_PASSWORD1=$INTEGRATION_PASSWORD1 --build-arg INTEGRATION_USER2=$INTEGRATION_USER2 --build-arg INTEGRATION_PASSWORD2=$INTEGRATION_PASSWORD2 --build-arg TEST_DEVICE=$ANDROID_DEVICE .
    docker run --add-host=${HOMESERVER}:${SYNAPSE_IP} --device /dev/kvm --name $ANDROID_DEVICE integration-$ANDROID_DEVICE || true
    docker stop synapse
    docker cp $ANDROID_DEVICE:fluffychat/coverage .
    docker cp $ANDROID_DEVICE:fluffychat/coverage.xml .
    docker cp $ANDROID_DEVICE:fluffychat/TEST-report.xml .
    docker cp $ANDROID_DEVICE:fluffychat/video.mkv .
    docker cp $ANDROID_DEVICE:fluffychat/exit_code .
    sed 's/&#x1B;//g' -i TEST-report.xml
    exit $(cat exit_code)
  artifacts:
    when: always
    paths:
      - coverage/
      - coverage.xml
      - TEST-report.xml
      - video.mkv
    reports:
      junit: TEST-report.xml

integration_web:
  stage: test
  tags: [docker, rlp]
  variables:
    FF_NETWORK_PER_BUILD: "true"
  allow_failure: true
  script: |
    docker stop synapse-for-web || true
    docker stop synapse || true
    docker container rm -f synapse-for-web || true
    docker container rm -f integration-web-run || true
    docker container rm -f synapse || true
    docker image rm integration-web || true
    rm -rf /builds/shared/fluffy || true
    docker build -f docker/Dockerfile.integration-web -t integration-web --build-arg CITOKEN=$CITOKEN --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA --build-arg INTEGRATION_USER1=$INTEGRATION_USER1 --build-arg INTEGRATION_PASSWORD1=$INTEGRATION_PASSWORD1 --build-arg INTEGRATION_USER2=$INTEGRATION_USER2 --build-arg INTEGRATION_PASSWORD2=$INTEGRATION_PASSWORD2 --build-arg HOMESERVER=$HOMESERVER .
    mkdir -p /builds/shared/fluffy
    cp integration_test/synapse/data/* /builds/shared/fluffy
    chmod 0777 /builds/shared/fluffy
    #FIXME we need to use our synapse build instead!
    docker run -d --name synapse-for-web -h $HOMESERVER -v /builds/shared/fluffy:/data matrixdotorg/synapse:latest
    SYNAPSE_IP=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' synapse-for-web)
    docker run --add-host=${HOMESERVER}:${SYNAPSE_IP} -e SYNAPSE_IP=$SYNAPSE_IP --shm-size=4096m --name integration-web-run integration-web || true
    docker stop synapse-for-web || true
    docker cp integration-web-run:/tmp/exit_code .
    docker cp integration-web-run:/tmp/chromedriver.log .
    exit $(cat exit_code)
  artifacts:
    when: always
    paths:
      - chromedriver.log

# this job merges the coverage reports
combined_coverage:
  stage: test
  tags: [docker, rlp]
  needs: ["integration_web", "integration_android", "widget_test"]
  dependencies:
    - integration_web
    - integration_android
    - widget_test
  script: |
    docker image rm -f coverage || true
    docker container rm merge-coverage || true
    docker build -f docker/Dockerfile.coverage -t coverage .
    docker run --name merge-coverage coverage || true
  coverage: '/lines......: \d+\.\d+%/'
  artifacts:
    when: always
    paths:
      - chromedriver.log
      - coverage/
      - coverage.xml
      - coverage_widget/
      - coverage_widget.xml
      - coverage_merged.xml
      - coverage_merged/
      - video.mkv
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage-merged.xml
